:root {
	--yellow: rgba(255, 255, 0, .8);
	--white: rgba(255, 255, 255, .8);
	--red: rgba(255, 0, 0, .8);
	--black: rgba(0 ,0 ,0 , .8);
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
  height: 100%;
  width: 100%;
}

body {
	/* https://pixabay.com/illustrations/moe-woman-girl-manga-anime-comic-595960/ */
	background: center center fixed no-repeat url("./anime.png");
	background-size: cover;
	font-family: 'Teko', sans-serif;
	color: var(--white);
}

.content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

header {
	margin-bottom: 20px;
	width: 100%;
	padding: 20px;
	background-color: var(--black);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

h1 {
	font-size: 5rem;
	text-shadow: 10px 5px 3px var(--black);
	color: var(--red);
}

.description {
	font-size: 1.5rem;
}

#name-label, #email-label, #number-label, .title {
	text-decoration: underline;
  text-decoration-color: var(--red);
}

li {
	list-style: none;
}

li:hover, input:checked + label {
	color: var(--yellow);
}

select {
	background-color: var(--yellow);
}

legend {
	margin: auto;
	font-size: 2.5rem;
	color: var(--yellow);
	background-color: var(--black);
}

.box1, .box2 , .box3 {
	border: 3px solid var(--red);
	font-size: 1.5rem;
	font-weight: bold;
	color: var(--white);
	margin-bottom: 10px;
	padding: 20px;
	background-color: var(--black);
	gap: 20px;
}

.box1 {
	display: flex;
	justify-content: space-evenly;
}

.box2, .box3 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.site, .hours {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.btn {
	margin-bottom: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}

button {
	font-size: 1.2rem;
	font-weight: bold;
	color: var(--yellow);
	cursor: pointer;
	padding: 15px 35px;
	border: 3px solid var(--red);
	background-color: var(--black);
}

button:hover {
	background-color: var(--yellow);
	color: var(--red);
}